body {

    
    
}

.textcolor{

    color:#000;
}
#container_02{


height: auto;
}

#container_03{

height: auto;

}

#config_01{


height: 600px;

}

#config_02{


height: 670px;

}

#config_03{


    height: auto;
    
}

#config_04{



    height: 385px;
    
}

#config_05{


    height: 100px;
    
}

#button_01{

    float: left;

    margin-left: 130px;
}

.card_01{

    border: 4px solid rgb(5, 153, 30);
    border-radius: 15px;

}

.tabela_inferior{

    border: 1px solid #90b78c;
}

